---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import '../styles/card.css';
import '../styles/global.css';
import '../styles/glitch.css';
---

<Layout title="Contact | Amar Begovic">
    <main class="main">
        <h1 class="glitch" data-text="Contact">Contact</h1>
        <p class="intro">Connect with me through various platforms.</p>
        
        <div class="card-grid">
            <div class="card">
                <div class="card-content">
                    <Icon name="mdi:youtube" class="card-icon" />
                    <h2>YouTube</h2>
                    <p>Check out my latest videos and tutorials</p>
                    <a href="https://www.youtube.com/@af1ro493" class="card-link">Visit Channel</a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <Icon name="mdi:discord" class="card-icon" />
                    <h2>Discord</h2>
                    <p>Join my community and collaborate</p>
                    <a href="https://discord.gg/TKqGWueg" class="card-link">Join Server</a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <Icon name="mdi:github" class="card-icon" />
                    <h2>GitHub</h2>
                    <p>Explore my projects and contributions</p>
                    <a href="https://github.com/AmarBego" class="card-link">View Profile</a>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <Icon name="mdi:email" class="card-icon" />
                    <h2>Email</h2>
                    <p>Send a message directly to me</p>
                    <a href="mailto:begovicamar@proton.me" class="card-link">Send Email</a>
                </div>
            </div>
        </div>
    </main>
</Layout>
