---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import '../styles/card.css';
import '../styles/glitch.css';
import { translate, getLanguage } from '../utils/translation.js';

const currentLang = getLanguage();
---

<Layout title={`${translate('projects', currentLang)} | Amar Begovic`}>
    <main class="main">
        <h1 class="glitch" data-text={translate('projects', currentLang)} data-i18n="projects">
            {translate('projects', currentLang)}
        </h1>
        <p class="intro" data-i18n="projectsIntro">{translate('projectsIntro', currentLang)}</p>
        
        <div class="card-grid">
            <Card 
                href="https://dashboard-nhm2.onrender.com/" 
                target="_blank"
                titleKey="reactFinanceDashboard"
                bodyKey="reactFinanceDashboardDesc"
                icon="react"
            >
                <span slot="link-text" data-i18n="viewProject">{translate('viewProject', currentLang)}</span>
            </Card>
            <Card 
                href="/users" 
                titleKey="nodeJsAPI"
                bodyKey="nodeJsAPIDesc"
                icon="nodedotjs"
            >
                <span slot="link-text" data-i18n="viewProject">{translate('viewProject', currentLang)}</span>
            </Card>
            <Card 
            href="https://github.com/AmarBego/TypeScript-Data-Normalization-Library" 
            target="_blank"
            titleKey="tsDataTransformer"
            bodyKey="tsDataTransformerDesc"
            icon="typescript"
        >
            <span slot="link-text" data-i18n="viewProject">{translate('viewProject', currentLang)}</span>
        </Card>
            <Card 
                href="https://github.com/AmarBego/ecommerce" 
                target="_blank"
                titleKey="vueJsEcommerce"
                bodyKey="vueJsEcommerceDesc"
                icon="vuedotjs"
            >
                <span slot="link-text" data-i18n="viewProject">{translate('viewProject', currentLang)}</span>
            </Card>
            <Card 
                href="https://github.com/AmarBego/Portfolio" 
                target="_blank"
                titleKey="astroPortfolio"
                bodyKey="astroPortfolioDesc"
                icon="astro"
            >
                <span slot="link-text" data-i18n="viewProject">{translate('viewProject', currentLang)}</span>
            </Card>
        </div>
    </main>
</Layout>

<script>
    import { setupClientTranslation } from '../utils/translation.js';
    setupClientTranslation();
</script>